.HeroTags{
    width: 100%;
    padding: 24px 0;
}

.HeroTags ul{
    width: 100%;
    display: flex;
    overflow: scroll;;
    gap: 12px;
    list-style: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.HeroTags ul li{
    background: rgb(237, 237, 237);
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
}

.HeroTags ul li:hover{
    background: rgb(230, 230, 230);
}