.ReportSectionContainer{
    width: 100%;
    height: 100vh;

    
    .returnDiv{
        width: 54px;
        height: 54px;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 16px;
        margin-right: 16px;
        background: white;
        box-shadow: 1px 2px 16px #d0d0d0;
        border-radius: 50%;
        z-index: 5;
        transition: all 0.1s ease-in;

        & svg{
            width: 100%;
            height: 100%;
            padding: 12px;
        }
    }

    .returnDiv:hover{
        box-shadow: 1px 2px 16px #9f9f9f;
        transition: all 0.1s ease-in;
    }

    .ReportSection{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: relative;

        & ul{
            width: 100%;
            max-width: 700px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            padding: 8px;

            .reportItem{
                width: 100%;
                height: fit-content;
                padding: 16px;
                background: white;
                border-radius: 12px;
                box-shadow: 0px 4px 10px rgb(166, 166, 166);
                display: flex;
                flex-direction: column;
                gap: 12px;

                .reportHeader{
                    height: fit-content;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: -6px;

                    & h2{
                        cursor: pointer;

                        &:hover{
                            color: rgb(108, 108, 108);
                        }

                        &:active{
                            color: rgb(63, 63, 63);
                        }
                    }

                    & label{
                        font-size: 1.08rem;
                        font-weight: 600;
                        color: rgb(153, 153, 153);
                    }
                }

                .reportProblem{
                    width: 100%;
                    padding: 12px;
                    background: rgb(255, 69, 69);
                    border-radius: 8px;

                    & label{
                        color: white;
                        font-weight: 600;
                        font-size: 1.08rem;
                    }

                    & p{
                        color: black;
                        margin-top: 8px;
                        background: rgb(255, 187, 187);
                        padding: 8px;
                        border-radius: 4px;
                    }
                }

                .noObjectFoundDiv{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 24px;
                    padding: 24px;

                    & p{
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: grey;
                    }

                    & button{
                        background: orange;
                        color: white;
                        padding: 12px;
                        outline: none;
                        border-radius: 6px;
                        cursor: pointer;
                        font-size: 1.2rem;
                    }

                    & button:hover{
                        background: rgb(238, 155, 0);
                    }

                    & button:active{
                        background: rgb(214, 139, 0);
                    }
                }
            }
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }
}