.connecting{
    width: 100vw;
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    z-index: 100;

    h1{
        font-size: 1.2rem;
        margin-bottom: 48px;
        text-align: center;
    }

    p{
        font-size: 0.88rem;
        margin-top: 16px;
        text-align: center;
        color: rgb(88, 88, 88);
    }
}