.ProfilePageContainer{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    .mobileContact{
        position: absolute;
        top: 30%;
        right: -8px;
        z-index: 10;
        background: rgb(41, 41, 41);
        padding: 12px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;

        & img{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }

    & .edit_icon{
        position: absolute;
        right: 8px;
        top: 8px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        z-index: 6;

        & svg{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    & .EditProfilePageHeader{
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 16px;

        & p{
            color: rgb(255, 69, 69);       
            margin-right: auto;     
        }

        & .cancelEdit{
            background: white;
            padding: 8px 12px;
            border: none;
            background: #e9e9e9;
            border-radius: 4px;
            cursor: pointer;
        }

        .cancelEdit:hover{
            background: #f1f2f1;
        }

        & .submitEdit{
            background: rgb(55, 55, 255);
            padding: 8px 12px;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .submitEdit:hover{
            background: #564af9;
        }
    }

    & .morePostsButton{
        width: 100%;
        text-align: center;
        background: transparent;
        border: none;
        color: rgb(44, 44, 44);
        font-size: 1.25rem;
        margin-top: 24px;
    }

    .message_me{
        width: 72px;
        height: 72px;
        position: absolute;
        bottom: 24px;
        right: 24px;
        background: rgb(72, 72, 241);
        border-radius: 50%;
        padding: 16px;
        cursor: pointer;
        z-index: 10;

        &:hover{
            opacity: 0.88;
        }

        & svg{
            width: 100%;
            height: 100%;
            & path{
                stroke: white;
                fill: white;
            }
        }
    }
}

.ProfilePage{
    width: 100%;
    display: flex;
    gap: 16px;
    position: absolute;
}

.ProfilePage .ProfilePageContentContainer{
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

.ProfilePage .ProfielPageContent{
    width: 100%;
    min-height: fit-content;
    background: rgb(242, 242, 242);
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
}

.ProfilePage .ProfielPageContent .ProfileInfo{
    min-height: fit-content;
    width: 100%;
    display: flex;
    gap: 16px;
    overflow: hidden;
    border-radius: 8px;
}

.ProfilePage .ProfielPageContent .ProfileInfo .ProfileSmallInfo{
    width: 100%;
    max-width: 280px;
    min-width: 220px;
    min-height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 8px;
    gap: 16px;
    font-size: 0.8rem;
    border-radius: 8px;
    position: relative;
    z-index: 1;

    & img{
        width: 96px;
        height: 96px;
        border-radius: 50%;
        object-fit: cover;
    }

    & hr{
        width: 100%;
        border-width: 2px;
        border-color: rgba(248, 248, 248, 0.196);
    }

    & p{
        text-align: center;
        color: rgba(106, 106, 106, 0.834);
        margin: auto 0;
    }

    & h4{
        color: rgba(125, 125, 125, 0.773);
    }

    & .detailsList{
        width: fit-content;
        display: flex;
        gap: 24px;
        font-size: 0.75rem;

        & ul{
            display: flex;
            flex-direction: column;
            gap: 12px;

            & p{
                color: rgb(149, 149, 149);
            }

        }
    }

    & input{
        width: 100%;
        padding: 2px 0;
        padding-left: 4px;
    }

    & textarea{
        width: 100%;
        padding: 2px 0;
        padding-left: 4px;
        resize: none;
        word-break: break-all;
    }

    & .detailsButtons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 12px;

        & .handleDetailsRow{
            background: transparent;
            border: none;
            cursor: pointer;

            &:hover{
                color: rgb(161, 161, 161);
            }

            &:active{
                color: black;
            }
        }
    }

    .reportButton{
        padding: 8px 12px;
        background: orange;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .reportButton:hover{
        background: rgb(255, 189, 65);
    }

    .share_icon{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 16px;
        margin-left: 16px;

        & svg path{
                fill: rgb(108, 108, 108);
        }
    }

}

.ProfilePage .ProfielPageContent .ProfileInfo .ProfileDetailedInfo{
    width: 100%;
    min-width: 260px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px;
    border-radius: 8px;
    position: relative;

    & h3{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    & p{
       width: 100%;
       word-break: break-all;
       margin-bottom: 24px;
    }

    & .lastProjectsDiv{
        width: 100%;
        overflow-x: auto;
        height: 200px;
        min-height: 160px;
        margin-bottom: 24px;
        position: relative;
        
        &::-webkit-scrollbar{
            display: none;
        }

        &:hover::before{
            content: 'Shift + Scroll';
            position: absolute;
            width: 96px;
            text-align: center;
            padding: 8px 0;
            font-size: 0.9rem;
            left: 10px;
            top: 0;
            background: rgb(211, 211, 211);
            opacity: 0.7;
            z-index: 1;
        }

        & .lastProjects{
            width: fit-content;
            height: 100%;
            display: flex;
            gap: 12px;

            & li{
                width: 190px;
                height: 100%;
                border-radius: 6px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: rgb(5, 8, 57);
                    opacity: 0.45;
                }

                &:hover{
                    border-radius: 0;
                    transition: all 0.3s ease-in;
                    & img{
                        scale: 1.075;
                        transition: all 0.3s ease-in;
                    }
                }

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                    transition: all 0.3s ease-out;
                }

                & p{
                    position: absolute;
                    color: rgb(255, 255, 255);
                    z-index: 1;
                    bottom: 0;
                    font-size: 0.8rem;
                    font-weight: 600;
                    word-break: keep-all;
                    padding: 0 8px;
                    width: 26ch;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }


    } 
    
    & textarea{
        width: 100%;
        resize: none;
        padding: 4px 8px;
        margin: auto 0;
    }
    
    & .skillsDiv{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        & .skills{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        & .skillInputsDiv{
            width: 100%;
            display: flex;
            gap: 4px;

            & input:first-child{
                width: 100%;
                padding: 4px 8px;
            }

            & input:last-child{
                max-width: 25%;
                padding: 4px 8px;
            }
        }
    }

    & .detailsButtons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
        margin-top: 12px;

        & .handleDetailsRow{
            background: transparent;
            border: none;
            cursor: pointer;

            &:hover{
                color: rgb(161, 161, 161);
            }

            &:active{
                color: black;
            }
        }
    }

}

.ProfilePage .ProfielPageContent .ProfileProjects{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;

    & .projectsCards{
        width: 100%;
        height: fit-content;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        margin-bottom: 120px;

        & h3{
            width: 100%;
            text-align: center;
        }
    }

    & .PostHeroCard{
        width: 100%;
        min-width: 550px;
        max-width: 850px;
        flex-grow: 1;
        background: white;
    }
}

.ProfilePage .ProfilePageContact{
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 16px;
    background: white;
    z-index: 6;
    top: 0;

    & a{
        text-decoration: none;
        width: 100%;
    }

    
    & .x_twitter{
        & path{
            fill: black;
            stroke: black;
        }
    }

    & .ContactWith{
        width: 100%;
        height: fit-content;
        padding: 10px 24px;
        border: 2px solid black;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;
        z-index: 1;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease-out;
        
        & label{
            cursor: pointer;
        }

        
    }
    
    & .ContactWith:hover{
        background: black;
        color: white;
        transition: all 0.3s ease-in;
    }
    
    & .x_twitter:hover{
        & path{
            stroke: white;
            fill: white;
        }
    }

    & .contactMeOn{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        margin-bottom: 12px;

        & .select_delete_platform{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            & label{
                width: 100%;
                font-size: 0.85rem;
                font-weight: 600;
                margin-bottom: 4px;
            }

            & select{
                width: fit-content;
                padding: 4px 6px;
                border-radius: 4px;
                border-width: 2px;
                margin-bottom: 4px;
            }

            & .deleteSocial{
                cursor: pointer;
                
                & svg{
                    width: 24px;
                    height: 24px;

                    & path{
                        fill: rgb(255, 108, 108);

                        &:hover{
                            fill: red;
                        }

                        &:active{
                            fill: rgb(255, 70, 70);
                        }
                    }
                }
            }
        }

        & input{
            padding: 4px 6px;
            border-radius: 4px;
            margin-top: 4px;
            border-width: 2px;

            &:active{
                border: none;
            }
        }
    }

    & button{
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover{
            color: rgb(102, 102, 102);
        }
    }

}

.checkUrlContainer{ 
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    padding: 32px;
    
    .checkUrl{
        background: white;
        padding: 16px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        & p{
            padding: 12px;
            border-radius: 6px;
            background: #e9e9e9;
            color: rgb(58, 58, 58);
            font-size: 1.2rem;
        }

        & h3{
            font-size: 1rem;
            color: grey;
            font-weight: 500;
        }

        & span{
            color: rgb(58, 58, 255);
            font-size: 1.1rem;
            cursor: pointer;
        }

        .checkUrlButtons{
            width: 100%;
            display: flex;
            gap: 8px;

            & button{
                width: 100%;
                background: rgb(58, 58, 255);
                color: white;
                padding: 8px;
                border-radius: 4px;
                border: none;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;

                &:hover{
                    opacity: 0.85;
                }
            }
        }
    }
}

@media screen and (max-width: 920px){
    .ProfilePage {
        .ProfilePageContact{
            box-shadow: 1px 1px 16px grey;
            max-height: 100%;
        }
    }
}


@media screen and (max-width: 680px){
    .ProfilePageContainer{
        margin: 0;
    }

    .ProfilePage {
        gap: 0;

        .ProfielPageContent {
            padding: 12px;
            gap: 12px;

            .ProfileProjects{
                gap: 12px;

                .projectsCards{
                    gap: 12px;
                }

                .PostHeroCard{
                    min-width: unset;
                    max-width: unset;
                }
            }

            
            .ProfileInfo{
                flex-direction: column;
                gap: 12px;

                .ProfileSmallInfo{
                    width: 100%;
                    max-width: unset;
                    min-width: unset;
                    min-height: unset;
                }
            }
        }
    }
}
